.navbar{
left: 0%;
right: 0%;
top: 0%;
bottom: 35.71%;
width:100%;
background: #333545;
display:flex;
flex-direction: row;
padding-left: 20px;
padding-right: 20px;
gap:25px;
}

.inp{
    width: 531px;
    height: 36px;
    left: 193px;
    top: 18px;
    
    /* Primary/Pearl white */
    
    background: #F5F5F5;
    border-radius: 4px;
    padding:5px;
}

.grow{
    flex-grow: 1;
}

.btn-signin{
/* Primary/Ruby Pink */
border:0px;
background: #E94362;
border-radius: 3px;
color:white;
padding:4px 16px;
}

.btn-signin:hover{
    /* Primary/Ruby Pink */
    border:0px;
    background: #E94362;
    border-radius: 3px;
    color:white;
    padding:4px 16px;
    }


 .sub{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    align-content: center;
    padding-top:10px;
    color: #CCCCCC;
 }   